@charset "utf-8";

#header{position: relative;}
#header.main{height: 1130px;}
#header_top{width: 100%;height: 50px;position: absolute;
			left:50%;transform:translateX(-50%);
			_top:30px;z-index:1;}
#header_top img{float:left;width: 130px}
#header_top #main_menu{_display:none;}
.myTopMenu ul li{font-family: 'yg-jalnan';text-align: center;color:#fff;}
.myTopMenu ul li a{
		color:white;line-height:70px;}
#main_menu{position: absolute;left:50%;top:50%;
			transform:translate(-50%,-50%);}

.toggleMenu{
	float:right;width: 50px;height: 50px;position: relative;
	cursor:pointer;z-index:1;display:block;}
.toggleMenu div{
	width: 35px;height: 5px;background: #fff;position: absolute;
	border-radius:3px;left:7px;
}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}

.change .bar1{transform: translate(-50%,-50%) rotate(-45deg);
				  top:50%;left:50%;}
.change .bar2{opacity:0;}
.change .bar3{transform: translate(-50%,-50%) rotate(45deg);
				  top:50%;left:50%;}

/*#main_menu>ul>li{
	float:left;width: 20%;line-height:40px;
	position: relative;}
#main_menu>ul>li>a{
	display:block;line-height: 50px;padding:10px 30px;color:white;
	font-family: 'yg-jalnan';text-align:center;font-size:20px;
	text-shadow:0 0 10px #38302e;}
#main_menu>ul>li>a:after{
	content:"";display:block;width: 0;height: 2px;background:#fff;
	transition:0.3s;margin:0 auto;}
#main_menu>ul>li>a:hover:after{width: 100%;}

#main_menu{width: 1000px;margin:auto;}

#main_menu ul.smenu{display:none;background-color: rgb(0,0,8,70%);}
#main_menu ul.smenu{position: absolute;width: 100%;z-index:2;} 
#main_menu ul.smenu>li{width: 100%;}
#main_menu ul.smenu>li>a:hover:after{width: 70%;}
#main_menu ul.smenu>li>a{
	display:block;text-align:center;color:white;font-family: 'NanumSquare';
	font-size:16px;line-height: 40px;
	}
#main_menu ul.smenu>li>a:after{
	content:"";display:block;width: 0;height: 2px;background:#fff;
	transition:0.3s;margin:0 auto;
}*/
.myTopMenu{position: fixed;width: 100%;height: 1000px;background: #ae1000;}


/*bxslider*/
.slider_wrap{height: 500px;}
.slider_wrap ul li{
	height: 500px;}
.slider_wrap li.first{
	background:url(../images/main01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/main02.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.third{
	background:url(../images/main03.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap h3{
	width: 500px;position: absolute;left:10%;
	top:40%;
	}
.slider_wrap h3{
	color:white;
	font-size:2em;text-shadow:0 0 10px #000;font-family: 'yg-jalnan';
	}

.slider_wrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom:0;
}
.slider_wrap .bx-pager{bottom: 50px;}
.nextBtn,.prevBtn{position: absolute;top:200px;cursor:pointer;
				  display:none;}
.prevBtn{left:50px;}
.nextBtn{right:50px;}

/*contents*/
#header .content{width: 100%;background-color: #fff;}
.content>ul>li{float:left;width: 50%;height: 315px;}
.content>ul>li:nth-child(1){
	background: #750000;}
.content>ul>li:nth-child(2){
	background: beige;display:none;}
.content>ul>li:nth-child(3){
	background: #9f1818;display:none;}
.content>ul>li:nth-child(4){
	background: skyblue;display:none;}
.content>ul>li:nth-child(5){
	background: orange;display:none;}
.content>ul>li:nth-child(6){
	background: #cf2121;}
.content>ul>li:nth-child(7){
	background: #eb6262;}
.content>ul>li:nth-child(8){
	background: gray;display:none;}
.content>ul>li:nth-child(9){
	background: lightgreen;display:none;}
.content>ul>li:nth-child(10){
	background: #a50000;display:none;}
.content>ul>li:nth-child(11){
	background: #cb3f3f;}
.content>ul>li:nth-child(12){
	background: chocolate;display:none;}

.cus{position: relative;height: 315px;}
.cus img.img01{
	position: absolute;top:45%;left:50%;transform:translate(-50%,-50%);}
.cus>p{font-family: 'yg-jalnan';color:white;top:65%;left:50%;
	   transform:translate(-50%,-50%);position: absolute;text-align:center;}

.bVideo{position: relative;width: 315px;height: 315px;}
.bVideo img.img09{
	position: absolute;top:45%;left:50%;transform:translate(-50%,-50%);}

.slider02Txt img.img10{transform: scale(1.0);transition:0.3s;}
.slider02Txt:hover img.img10{transform: scale(1.2);}

.bVideo>p{font-family: 'yg-jalnan';color:white;top:65%;left:50%;
	      transform:translate(-50%,-50%);position: absolute;text-align:center;}

.search{position: relative;width: 315px;height: 315px;}
.search>p{font-family: 'yg-jalnan';color:white;padding:30px;}
.btnWrap{position: absolute;right:30px;bottom:30px;width: 83px;height: 40px;}
.nextBtn02,.prevBtn02{bottom:50px;cursor:pointer;}
.prevBtn02{left:0;float:left;margin-right:3px;}
.nextBtn02{left:44px;}
.search>img{position: absolute;top:0;}

.box:after{content:"";border-width:20px;border-style:solid;
		   border-color: transparent transparent transparent #ae1000;
		   position: absolute;top:50%;right:-40px;transform:translateY(-50%);
		   z-index:2;}

.sSearch{position: relative;width: 315px;height: 315px;}
.sSliderWrap{position: absolute;width: 315px;height: 315px;}
.sSliderWrap .bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0 none;margin-bottom:0;
	background:none;}
.slider02Txt>p{
	position: absolute;color:#fff;z-index: 1;top:0;
	font-family: 'yg-jalnan';padding:30px;text-shadow:0 0 10px #38302e;}

.slider02Txt img.img10{transform: scale(1.0);transition:0.3s;}
.slider02Txt:hover img.img10{transform: scale(1.2);}
.slider02Txt img.img11{transform: scale(1.0);transition:0.3s;}
.slider02Txt:hover img.img11{transform: scale(1.2);}

.tMenu{position: relative;width: 630px;height: 315px;overflow:hidden;}
.tMenu>p{position: absolute;font-family:'yg-jalnan';color:white;
		 padding:30px;top:0;}

.tMenu img.img12{transform: scale(1.0);transition:0.3s;}
.tMenu:hover img.img12{transform: scale(1.2);}

.intro{position: relative;height: 315px;}
.intro img.img02{
	position: absolute;top:45%;left:50%;transform:translate(-50%,-50%);
}
.intro>p{font-family: 'yg-jalnan';color:white;top:65%;left:50%;
	   transform:translate(-50%,-50%);position: absolute;text-align:center;}

.road{position: relative;height: 315px;}
.road img.img03{
	position: absolute;top:45%;left:50%;transform:translate(-50%,-50%);
}
.road>p{font-family: 'yg-jalnan';color:white;top:65%;left:50%;
	   transform:translate(-50%,-50%);position: absolute;text-align:center;}

.fMenu{position: relative;width: 315px;height: 630px;overflow:hidden;}
.fMenu>p{position: absolute;font-family:'yg-jalnan';color:white;
		 padding:30px;top:0;}

.fMenu img.img13{transform: scale(1.0);transition:0.3s;}
.fMenu:hover img.img13{transform: scale(1.2);}

.fran{position: relative;width: 630px;height: 315px;overflow:hidden;}
.fran>p{position: absolute;font-family:'yg-jalnan';color:white;
		padding:30px;top:0;}

.fran img.img14{transform: scale(1.0);transition:0.3s;}
.fran:hover img.img14{transform: scale(1.2);}

.info{position: relative;width: 315px;height: 315px;}
.info img.img04{
	position: absolute;top:45%;left:50%;transform:translate(-50%,-50%);
}
.info>p{font-family: 'yg-jalnan';color:white;top:65%;left:50%;
	   transform:translate(-50%,-50%);position: absolute;text-align:center;}

.com{position: relative;height: 315px;}
.com img.img05{
	position: absolute;top:45%;left:50%;transform:translate(-50%,-50%);
}
.com>p{font-family: 'yg-jalnan';color:white;top:65%;left:50%;
	   transform:translate(-50%,-50%);position: absolute;text-align:center;}

.friend{position: relative;width: 630px;height: 315px;overflow:hidden;}
.friend>p{position: absolute;font-family:'yg-jalnan';color:white;
		  padding:30px;top:0;}

.friend img.img15{transform: scale(1.0);transition:0.3s;}
.friend:hover img.img15{transform: scale(1.2);}

/*sns*/

.sns_wrap .bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0 none;margin-bottom:0;
	background:none;}
.nextBtn01,.prevBtn01{position: absolute;top:400px;cursor:pointer;}
.prevBtn01{left:50px;}
.nextBtn01{right:50px;}

.sns_wrap{height: 500px;padding: 20px 0;
		  background: #ae1000;
		  background-image:url('../images/sns_bg.png');
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size:cover;
		  background-attachment: fixed;}
.sns_wrap h1{
	color:white;text-align:center;_width: 500px;margin:20px auto;}

/*font*/
.jalnan{font-family: 'yg-jalnan';}
.jalnan20{font-family: 'yg-jalnan';font-size: 20px;}

.slickWrap{}
.slick div.simg01{
	font-size: 15px;font-family: 'yg-jalnan';
	width: 380px;height: 330px;background: #fff;cursor:pointer;
	margin-right: 10px;margin-left: 10px;border-radius:10px 10px 10px 10px;}
.slick div.simg01 img{width: 100%;border-radius:10px 10px 0 0}
.slick div.simg01:hover{
		box-shadow: 0 0 20px #4b0000;
		border-radius:10px 10px 10px 10px;}
.slick div.simg01:last-child{margin-right:0;}
.slick div.simg01 p{padding:10px;}

.slick-dots {
    position: absolute;
    bottom: -40px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;}



/*call*/
.callWrap{height: 200px;width: 100%;position: relative;}
.call{width: 100%;}
.call>ul>li{float:left;width: 50%;}

.bLeft{position: relative;height: 200px;}
.bLeft01{position: absolute;top:50%;transform:translate(-50%,-50%);
		 z-index:1;left:50%;width: 100px;_height: 200px;}
.bLeft01 img.img06{}
.bLeft01>h2{font-family: 'yg-jalnan';color:white;font-size:20px;
			text-align:center;}


.bRight{position: relative;height: 200px;}
.bRight01{position: absolute;top:50%;transform:translate(-50%,-50%);
		 z-index:1;left:50%;}
.bRight01 img.img07{
	}
.bRight01>h2{font-family: 'yg-jalnan';color:white;font-size:20px;
			 text-align:center;}
.bRight01>p{font-family: 'yg-jalnan';color:#df9532;font-size:15px;
			text-align:center;}

/*footer*/
.footerWrap{width: 100%;height: 300px;position: relative;
			background: #38302e;font-family: 'NanumSquare'}
.footer{height: 300px;position: absolute;padding:20px;}
.footer img.img08{
	position: absolute;width: 140px;}
.footerTxt{position: absolute;_left:250px;top:100px;width: 330px;
		   font-size:14px;}
.footerTxt>ul{margin-bottom:10px;}
.footerTxt>ul>li{float:left;}
.footerTxt>ul>li>a{color:white;margin-right:20px;font-size:14px;}
.footerTxt>p{color:white;font-size:12px;line-height:19px;}

.top{position:fixed;width: 50px;height: 50px;line-height:50px;
	 right: 50px;bottom: 50px;border-radius:50%;background: #000;
	 color:white;text-align:center;cursor:pointer;
	 animation:viewTop 1s infinite alternate;opacity:0;
	 transition:0.3s;}
@keyframes viewTop{
	from{transform:translateY(0);}
	to{transform:translateY(-20px);}
}
.top.view{opacity:1;}
/*mobile layout*/