@charset "utf-8";

@import "pc01.css" screen and (min-width:923px);
@import "tablet01.css" screen and (min-width:577px) and (max-width:922px);
@import "mobile01.css" screen and (max-width:576px);

@font-face {
	font-family: 'yg-jalnan';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face{
	font-family: 'NanumSquare', sans-serif !important;
	src:url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');}


/*@media screen and (min-width:923px){*/



/*subpage01*/
.tabWrap>ul>li.active a{background: #fff;color:#ae1000;}

.headerImg01{position: relative;width: 100%;height: 500px;
			 background-repeat: no-repeat;
		  	 background-position: center;
		  	 background-size:cover;
		  }
.headerImg01>h2{position: absolute;top:200px;left:50%;
			    transform:translateX(-50%);color:white;
				font-size:50px;font-family: 'yg-jalnan';}
.tabWrap{width: 1260px;height: 70px;position: absolute;left:50%;
		 transform:translateX(-50%);top:430px;}
.tabWrap>ul{}
.tabWrap>ul>li{float:left;background:#ae1000;
			   width: 315px;height: 70px;}
.tabWrap>ul>li>a{
	float:left;font-size:18px;color:white;font-weight:bold;
	text-align:center;line-height:70px;width: 315px;height: 70px;}
.tabWrap>ul>li>a:hover{background: #fff;color:#ae1000;}
.subWrapper{width: 100%;}
.sWrap01{position: relative;width: 1260px;margin:0 auto;}
.sWrap01>img{}
.sCon01{position: relative;width: 100%;}
.sCon01 img.stimg01{
	transform:translateX(-50%);left:50%;position: absolute;
	}

.location01{width: 100%;height: 50px;background: white;position: absolute;
			top:500px;}
.location01>ul{}
.location01>ul>li{
	float:left;margin-right:10px;line-height:50px;font-size:15px;}
.sTitle01 h3{font-size:40px;text-align: center;margin-bottom:50px;}
#header00.main{height: 550px;margin-bottom:0;}

.sContainer01{
	position: relative;width: 100%;height: 2000px;}
/*subpage02*/
.tabWrap>ul>li.active a{background: #fff;color:#ae1000;}

.headerImg02{position: relative;width: 100%;height: 500px;
			 background-repeat: no-repeat;
		  	 background-position: center;
		  	 background-size:cover;
		  }
.headerImg02>img{
	position: absolute;left:50%;transform:translateX(-50%);z-index:-1;}
.headerImg02>h2{position: absolute;top:200px;left:50%;
			    transform:translateX(-50%);color:white;
				font-size:50px;font-family: 'yg-jalnan';}
.tabWrap{width: 1260px;height: 70px;position: absolute;left:50%;
		 transform:translateX(-50%);top:430px;}
.tabWrap>ul{}
.tabWrap>ul>li{float:left;background:#ae1000;
			   width: 315px;height: 70px;}
.tabWrap>ul>li>a{
	float:left;font-size:18px;color:white;font-weight:bold;
	text-align:center;line-height:70px;width: 315px;height: 70px;}
.tabWrap>ul>li>a:hover{background: #fff;color:#ae1000;}
.subWrapper{width: 100%;}
.sWrap02{position: relative;width: 1260px;margin:0 auto;}
.sWrap02>img{}
.sCon02{position: absolute;width: 100%;}
.sCon02 img.stimg02{width: 100%;
	transform:translateX(-50%);left:50%;position: absolute;
	}

.location02{width: 100%;height: 50px;background: white;position: absolute;
			top:500px;}
.location02>ul{}
.location02>ul>li{
	float:left;margin-right:10px;line-height:50px;font-size:15px;}
.sTitle02 h3{font-size:40px;text-align: center;margin-bottom:50px;}
#header00.main{height: 550px;margin-bottom:0;}

.sContainer02{
	position: relative;width: 100%;left:50%;
	transform:translateX(-50%);height: 2000px;}

/*subpage03*/
.tabWrap0>ul>li.active a{background: #fff;color:#ae1000;}

.headerImg03{position: relative;width: 100%;height: 500px;
			 background-repeat: no-repeat;
		  	 background-position: center;
		  	 background-size:cover;
		  }
.headerImg03>img{
	position: absolute;left:50%;transform:translateX(-50%);z-index:-1;}
.headerImg03>h2{position: absolute;top:200px;left:50%;
			    transform:translateX(-50%);color:white;
				font-size:50px;font-family: 'yg-jalnan';}
.tabWrap{width: 1260px;height: 70px;position: absolute;left:50%;
		 transform:translateX(-50%);top:430px;}
.tabWrap>ul{}
.tabWrap>ul>li{float:left;background:#ae1000;
			   width: 315px;height: 70px;}
.tabWrap>ul>li>a{
	float:left;font-size:18px;color:white;font-weight:bold;
	text-align:center;line-height:70px;width: 315px;height: 70px;}
.tabWrap>ul>li>a:hover{background: #fff;color:#ae1000;}
.subWrapper{width: 100%;}
.sWrap03{position: relative;width: 1260px;margin:0 auto;}
.sWrap03>img{}
.sCon03{position: absolute;width: 100%;height: 1000px;}
.sCon03 img.stimg03{
	transform:translateX(-50%);left:50%;position: absolute;
	}

.location03{width: 100%;height: 50px;background: white;position: absolute;
			top:500px;}
.location03>ul{}
.location03>ul>li{
	float:left;margin-right:10px;line-height:50px;font-size:15px;}
.sTitle03 h3{font-size:40px;text-align: center;margin-bottom:50px;}
#header00.main{height: 550px;margin-bottom:0;}

.sContainer03{
	position: relative;width: 100%;left:50%;
	transform:translateX(-50%);height: 2000px;}

/*subage04*/
.tabWrap01>ul>li.active a{background: #fff;color:#ae1000;}

.headerImg04{position: relative;width: 100%;height: 500px;
			 background-repeat: no-repeat;
		  	 background-position: center;
		  	 background-size:cover;
		  }
.headerImg04>img{
	position: absolute;left:50%;transform:translateX(-50%);z-index:-1;}
.headerImg04>h2{position: absolute;top:200px;left:50%;
			    transform:translateX(-50%);color:white;
				font-size:50px;font-family: 'yg-jalnan';}
.tabWrap01{width: 945px;height: 70px;position: absolute;left:50%;
		 transform:translateX(-50%);top:430px;}
.tabWrap01>ul{}
.tabWrap01>ul>li{float:left;background:#ae1000;
			   width: 315px;height: 70px;}
.tabWrap01>ul>li>a{
	float:left;font-size:18px;color:white;font-weight:bold;
	text-align:center;line-height:70px;width: 315px;height: 70px;}
.tabWrap01>ul>li>a:hover{background: #fff;color:#ae1000;}
.subWrapper{width: 100%;}
.sWrap04{position: relative;width: 1260px;margin:0 auto;}
.sWrap04>img{}
.sCon04{position: absolute;width: 100%;}
.sCon04 img.stimg04{
	transform:translateX(-50%);left:50%;position: absolute;
	}

.location04{width: 100%;height: 50px;background: white;position: absolute;
			top:500px;}
.location04>ul{}
.location04>ul>li{
	float:left;margin-right:10px;line-height:50px;font-size:15px;}
.sTitle04 h3{font-size:40px;text-align: center;margin-bottom:50px;}
#header00.main{height: 550px;margin-bottom:0;}

.sContainer04{
	position: relative;width: 100%;left:50%;
	transform:translateX(-50%);height: 2000px;}

/*subage05*/
.tabWrap01>ul>li.active a{background: #fff;color:#ae1000;}

.headerImg05{position: relative;width: 100%;height: 500px;
			 background-repeat: no-repeat;
		  	 background-position: center;
		  	 background-size:cover;
		  }
.headerImg05>img{
	position: absolute;left:50%;transform:translateX(-50%);z-index:-1;}
.headerImg05>h2{position: absolute;top:200px;left:50%;
			    transform:translateX(-50%);color:white;
				font-size:50px;font-family: 'yg-jalnan';}
.tabWrap01{width: 945px;height: 70px;position: absolute;left:50%;
		 transform:translateX(-50%);top:430px;}
.tabWrap01>ul{}
.tabWrap01>ul>li{float:left;background:#ae1000;
			   width: 315px;height: 70px;}
.tabWrap01>ul>li>a{
	float:left;font-size:18px;color:white;font-weight:bold;
	text-align:center;line-height:70px;width: 315px;height: 70px;}
.tabWrap01>ul>li>a:hover{background: #fff;color:#ae1000;}
.subWrapper{width: 100%;}
.sWrap05{position: relative;width: 1260px;margin:0 auto;}
.sWrap05>img{}
.sCon05{position: absolute;width: 100%;}
.sCon05 img.stimg05{
	transform:translateX(-50%);left:50%;position: absolute;
	}

.location05{width: 100%;height: 50px;background: white;position: absolute;
			top:500px;}
.location05>ul{}
.location05>ul>li{
	float:left;margin-right:10px;line-height:50px;font-size:15px;}
.sTitle05 h3{font-size:40px;text-align: center;margin-bottom:50px;}
#header00.main{height: 550px;margin-bottom:0;}

.sContainer05{
	position: relative;width: 100%;left:50%;
	transform:translateX(-50%);height: 2000px;}

}
/*pc layout*/

/*@media screen and (min-width:577px) and (max-width:922px){

}*/
/*tablet layout*/

/*@media screen and (max-width:576px){

}*/
/*mobile layout*/