@charset "utf-8";
/*header*/
.headerWrap{
	width: 100%;height: 90px;
	background: #0d72a6 url(../images/airplane00.jpg) no-repeat center;
}
.header{width: 980px;margin:0 auto;height: 90px;position: relative;}
.header h1 a{position: absolute;left:0;top:25px;color:white;}
.header p{position: absolute;right:160px;top:25px;color:white;
		  font-size:30px}
.iconWrap{position: absolute;right:0;top:30px;}
.iconWrap ul{width: 140px;}
.iconWrap li{float:left;margin-left:5px;}

/*menu*/
.gnbWrap{width: 100%;height: 60px;border-bottom: 3px solid #0e73a7;
		 box-sizing: content-box;}
.gnb{width: 980px;margin:0 auto;height: 60px;}
.gnb ul{}
.gnb ul li{float:left;width: 163px;text-align:center;
		   border-right: 1px solid #EAEAEA;}
.gnb ul li:nth-child(1){border-left: 1px solid #EAEAEA;}
.gnb ul li a{font-size: 17px;line-height:60px;
			 height: 60px;}
#contents{height: 1275px;background: url(../images/bg02.jpg) no-repeat center;}

.con1{width: 980px;margin:0 auto;position: relative;
	  padding-top:50px;padding-bottom:556px;margin-bottom: 16px;}
.con1Left{width: 482px;height: 556px;position: absolute;left:0;
		  _background: #fff;}
.con1Left02{width: 482px;height: 240px;position: absolute;bottom:0;}
.conlLeft02 .img01{width:482px;height: 240px;}
.con1Left02 .img01 li{float:left;width: 233px;height: 240px;margin-right:16px;}
.con1Left02 .img01 li:last-child{margin-right:0;}
.con1Left02 .img01 li img{width: 233px;}
.con1Left02 .boxWrapOne{width: 482px;height: 50px;
				 position: absolute;bottom:0;}
.con1Left02 .boxWrapOne .box01 li{width: 233px;height: 50px;float:left;
						background: #152630;margin-right:16px;
						text-align: left;color:white;line-height:50px;
						padding:0 15px;}
.con1Left02 .boxWrapOne .box01 li:last-child{margin-right:0;}
.con1Left02 .boxWrapOne .box01 li img.img2{
	position: absolute;top:20px;right:280px;}
.con1Left02 .boxWrapOne .box01 li img.img3{
	position: absolute;top:20px;right:30px;}	

.con1Right{width: 482px;height: 556px;position: absolute;right:0;
		   _background: #fff;}
.con1Right .titleTxt{position: absolute;left:0;padding-left: 25px;
					 padding-top: 20px;}
.con1Right h1{font-size: 60px;font-weight: bold;}
.con1Right p{font-size:25px;}

.con2{width: 980px;height: 496px;margin:0 auto;position: relative;}
.con2 .con2Top{width: 980px;height: 240px;position: absolute;top:0;}
.con2Top .img02{width: 980px;height: 240px;}
.con2Top .img02 li{float:left;width: 233px;height: 240px;margin-right:16px;
				   position: relative;}
.con2Top .img02 li:last-child{margin-right:0;}
.con2Top .img02 li p{padding:10px 15px;font-size:14px;position: absolute;
					 bottom:0px;line-height:20px;width: 233px;height: 64px;
					 background: #152630;color:white;}
.con2Top .img02 .slider .view01 p{
	width: 233px;height: 64px;background: #529351;}
.con2Top .img02 .txt .txt01 p{
	width: 233px;height: 64px;
	background: rgba(35,37,50,90%);}
.con2Top .img02 .txt .txt02 p{
	width: 233px;height: 64px;
	background: #44619d;}
.con2Top .img02 li .txt img{
	position: absolute;width: 70px;height: 15px;margin-left: 15px;
	bottom:15px;}
.con2Top .img02 li h2{position: absolute;top:0;text-align: center;
					  color:white;padding:20px 0;width: 233px;}
.con2Top .img02 li h4{
	position: absolute;top:0;padding:18px;font-size:14px;
	line-height: 20px}
.con2Top .img02 li img.img1{
	position: absolute;width: 70px;height: 15px;top:120px;left:15px;
	}
.bx-wrapper {-moz-box-shadow: none;
 -webkit-box-shadow: none;
 box-shadow: none;
 border: 0 none;margin-bottom:0;}
/*.con2Top .txt p{position: absolute;bottom:0;}*/

/*.con2Top .boxWrapTwo{width: 980px;height: 64px;position: absolute;bottom:0;}
.con2Top .boxWrapTwo .box02 li{width: 233px;height: 65px;float:left;
						background: #152630;margin-right:16px;
						text-align: left;color:white;padding:13px;
						font-size: 15px;}
.con2Top .boxWrapTwo .box02 li:last-child{margin-right:0;}*/

.con2 .con2Bottom{width: 980px;height: 240px;position: absolute;bottom:0;}
.con2Bottom .img03{width: 980px;height: 240px;}
.con2Bottom .img03 li{float:left;width: 233;height: 240px;margin-right:16px;;
					 }
.con2Bottom .img03 li:last-child{margin-right:0;}